.room-main {
  height: 88vh;
  width: 100%;
  display: flex;
}

/* ページ左側 */
.room-page-left {
  height: 100%;
  width: 50%;
}

.room-page-image {
  height: 80vh;
  width: 40vw;
  margin: 4vh 5vw 6vh 5vw;
  object-fit: cover;
}

/* ページ右側 */
.room-page-right {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 設定アイコンのスタイル */
#settingsIcon {
  width: 45px;
  height: 35px;
  cursor: pointer;
  position: absolute;
  top: 15vh;
  right: 50px;
}

/* 初期状態で非表示にするクラス */
.hidden {
  display: none;
}

/* 設定リストのスタイル */
#settingsList {
  position: absolute;
  top: 21vh;
  right: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* 設定リストの各項目に区切り線を追加 */
#settingsList li {
  border-bottom: 1px solid #ccc;
  padding: 5px;
  margin-bottom: 5px;
}

/* 設定リストの各項目に区切り線を追加 */
#settingsList li a {
  text-decoration: none;
  color: black;
}

/* 最後の項目には区切り線を表示しない */
#settingsList li:last-child {
  border-bottom: none;
}

.user-room-header {
  font-size: 30px;
  padding-bottom: 10px;
  color: #735E59;
  margin-top: 30px;
}

.room-name a {
  display: inline-block;
  height: 48px;
  width: 10vw;
  text-decoration: none;
  text-align: center;
  line-height: 48px;
  color: black;
  background: #DAD7D6;
  border: 2px solid #8E8C8C;
  font-size: 14px;
  cursor: pointer;
  margin-top: 30px;
}

.room-page-create {
  width: 60%;
  text-align: center;
  margin-top: 70px;
}

.room-btn a {
  display: inline-block;
  height: 20px;
  width: 10vw;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  margin-top: 20px;
}