.room-main {
  height: 88vh;
  width: 100%;
  display: flex;
}

/* ページ左側 */
.room-page-left {
  height: 100%;
  width: 50%;
}

.room-page-image {
  height: 80vh;
  width: 40vw;
  margin: 4vh 5vw 6vh 5vw;
  object-fit: cover;
}

/* ページ右側 */
.room-page-right {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-room-header {
  font-size: 30px;
  padding-bottom: 10px;
  color: #735E59;
  margin-top: 30px;
}

.room-page-create {
  width: 60%;
  display: flex;
  justify-content: space-around;
}

.room-btn a {
  display: inline-block;
  height: 48px;
  width: 10vw;
  text-decoration: none;
  text-align: center;
  line-height: 48px;
  color: black;
  background: #DAD7D6;
  border: 2px solid #8E8C8C;
  font-size: 14px;
  cursor: pointer;
  margin-top: 30px;
}

.room-name a {
  display: inline-block;
  height: 48px;
  width: 10vw;
  text-decoration: none;
  text-align: center;
  line-height: 48px;
  color: black;
  background: #DAD7D6;
  border: 2px solid #8E8C8C;
  font-size: 14px;
  cursor: pointer;
  margin-top: 30px;
}
