.room-main {
  height: 88vh;
  width: 100%;
  display: flex;
}

/* ページ左側 */
.room-page-left {
  height: 100%;
  width: 50%;
}

.room-page-image {
  height: 80vh;
  width: 40vw;
  margin: 4vh 5vw 6vh 5vw;
  object-fit: cover;
}


/* ページ右側 */
.room-show-right {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.room-notice {
  padding-top: 60px;
}

.room-manual {
  line-height: 48px;
  width: 200px;
  border: 2px solid #8E8C8C;
  text-align: center;
  margin-top: 100px;
}

.room-manual a {
  text-decoration: none;
  color: black;
}

.room-manual a:hover {
  color: orangered;
}


.room-book {
  line-height: 48px;
  width: 200px;
  border: 2px solid #8E8C8C;
  text-align: center;
  margin-top: 50px;
}

.room-item {
  line-height: 48px;
  width: 200px;
  border: 2px solid #8E8C8C;
  text-align: center;
  margin: 50px 0 80px 0;
}






/* ルームに参加した場合のメッセージ */
.room-notice {
  color: red;
  font-size: 15px;
  font-weight: 500;
}