<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class='header'>
  <div class='header-left'>
    Kanri
  </div>
  <div class='header-center'>
    <div class='header-center-room'>ルーム名</div>
    <div class='header-center-room_name'>中山家</div>
  </div>
  <div class='header-right'>
    <div class='header-right-user'>ユーザー名</div>
    <div class='header-right-user_name'>TOMOYA</div>
  </div>
</header>