<header class="third-header">
  <div class="third-header-left">
    Kanri
  </div>
  <div class="third-header-right-user">ユーザー名</div>
  <div><%= link_to current_user.name, edit_user_path(current_user), class:"third-header-right-user_name" %></div>

</header>