<%= render "shared/header" %>

<div class="room-main">
  <div class="room-page-left">
    <%= link_to image_tag("user-image.jpg", class:"room-page-image"), "#" %>
  </div>

  <div>
    <% if notice %>
      <div class="room-notice">
        <%= notice %>
      </div>
    <% end %>
    <div>取説一覧ページ</div>
    <div>本一覧ページ</div>
    <div>その他アイテム一覧ページ</div>
    <%= link_to "ルーム一覧ページ", rooms_path %>
  </div>

</div>