<%= render "shared/header" %>

<div class="room-main">
  <div class="room-page-left">
    <%= link_to image_tag("user-image.jpg", class:"room-page-image"), "#" %>
  </div>

  <div class="room-show-right">
    <% if notice.present? %>
      <div class="room-notice">
        <%= notice %>
      </div>
    <% end %>
    <div class="room-manual">取説一覧ページ</div>
    <div class="room-book">本一覧ページ</div>
    <div class="room-item">その他アイテム一覧ページ</div>
    <%= link_to "ルーム一覧ページ", rooms_path %>
  </div>

</div>